<h2><%= @restaurant.name %></h2>
<p><%= @restaurant.address %></p>
<p><%= @restaurant.category %></p>
<p><%= @restaurant.phone_number %></p>
<p><% @restaurant.reviews.each do |review| %></p>
<p><%= review.content %> | <%= review.rating %></p>
<p><% end %></p>

<%= link_to "Back to list of Restaurants", restaurants_path, class: "btn btn-primary" %>
<%= link_to "Add a Review", new_restaurant_review_path(@restaurant), class: "btn btn-primary" %>
